<div class="content">
    <div class="card card--flex card--flex-v">
        <div class="circle circle--success"><svg>
                <use xlink:href="#logo"></use>
            </svg></div>
        <div class="card__text">
            <h3>64,570</h3>
            <p>Today's Visits</p>
        </div>
    </div>
    <div class="card card--flex card--flex-v">
        <div class="circle circle--primary"><svg>
                <use xlink:href="#logo"></use>
            </svg></div>
        <div class="card__text">
            <h3>31,570</h3>
            <p>Total Revenue</p>
        </div>
    </div>
    <div class="card card--flex card--flex-v">
        <div class="circle circle--danger"><svg>
                <use xlink:href="#logo"></use>
            </svg></div>
        <div class="card__text">
            <h3>280</h3>
            <p>Today's Sales</p>
        </div>
    </div>
    <div class="card card--flex card--flex-v">
        <div class="circle circle--info"><svg>
                <use xlink:href="#logo"></use>
            </svg></div>
        <div class="card__text">
            <h3>0.16%</h3>
            <p>Conversion</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <h4>Yearly sales report</h4>
    </div>
    <div class="card">
        <h4>Yearly sales report</h4>
    </div>
    <div class="card">
        <h4>Yearly sales report</h4>
    </div>
</div>

<div class="content">
    <div class="card card--table">
        <h4>Latest projects</h4>
        <table>
            <tr>
                <th>#</th>
                <th>Project Name</th>
                <th>Start Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th>Assign</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Minton</td>
                <td>2019 September</td>
                <td>2020 Feb</td>
                <td>In process</td>
                <td>Petras</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Minton</td>
                <td>2019 September</td>
                <td>2020 Feb</td>
                <td>In process</td>
                <td>Petras</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Minton</td>
                <td>2019 September</td>
                <td>2020 Feb</td>
                <td>In process</td>
                <td>Petras</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Minton</td>
                <td>2019 September</td>
                <td>2020 Feb</td>
                <td>In process</td>
                <td>Petras</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Minton</td>
                <td>2019 September</td>
                <td>2020 Feb</td>
                <td>In process</td>
                <td>Petras</td>
            </tr>
        </table>
    </div>
    <div class="card card--flex">
        <h4>Yearly sales report</h4>
    </div>
</div>