<div class="container">
    <section id="moto">
        <div class="ParallaxVideo">
            <video autoplay muted loop>
                <source src="../public/assets/img/timelapse.mp4" type="video/mp4">
            </video>
            <h1>LEADERS IN QUALITY CONSTRUCTION AND INFRASTRUCTURE</h1>
        </div>
    </section>
    <section id="services">
        <h2>Services</h2>
        <div class="wrapper">
            <div class="card">
                <img src="../public/assets/img/planning.png" alt="">
                <div>
                    <h4>Preconstruction<br>Planning</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                        Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/img/modelling.png" alt="">
                <div>
                    <h4>Architectural<br>Modelling</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                        Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/img/management.png" alt="">
                <div>
                    <h4>Construction<br>Management</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                        Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="toHalf">
            <div class="wrapper">
                <h2>About</h2>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font. Feel free to drag and drop me
                    anywhere
                    you like on your page. I’m a great place for you to tell a story and let your users know a little
                    more
                    about you.​This is a great space to write long text about your company and your services. You can
                    use
                    this space to go into a little more detail about your company. Talk about your team and what
                    services
                    you provide. Tell your visitors the story of how you came up with the idea for your business and
                    what
                    makes you different from your competitors. Make your company stand out and show your visitors who
                    you
                    are.</p>
            </div>
        </div>
        <div class="parallax"></div>
    </section>
    <section id="facts">
        <div class="wrapper">
            <div>
                <h5>2023</h5>
                <h4>Year<br>Established</h4>
            </div>
            <div>
                <h5>206</h5>
                <h4>Projects<br>Completed</h4>
            </div>
            <div>
                <h5>870</h5>
                <h4>Contractors<br>Appointed</h4>
            </div>
            <div>
                <h5>26</h5>
                <h4>Awards<br>Won</h4>
            </div>
        </div>
    </section>
    <section id="projects" class="projects">
        <h2>Projects</h2>
        <div class="wrapper">
            <div class="projContainer">
                <a href="project1.html">
                    <div class="projImage" id="proj1">
                        <div class="overlay">
                            <div class="text">Project 1</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="projContainer">
                <a href="project2.html">
                    <div class="projImage" id="proj2">
                        <div class="overlay">
                            <div class="text">Project 2</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="projContainer">
                <a href="project3.html">
                    <div class="projImage" id="proj3">
                        <div class="overlay">
                            <div class="text">Project 3</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="projContainer">
                <a href="project4.html">
                    <div class="projImage" id="proj4">
                        <div class="overlay">
                            <div class="text">Project 4</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section id="clients">
        <h2>Clients</h2>
        <div class="wrapper">
            <svg>
                <use xlink:href="#visa"></use>
            </svg>
            <svg>
                <use xlink:href="#mastercard"></use>
            </svg>
            <svg>
                <use xlink:href="#paypal"></use>
            </svg>
            <svg>
                <use xlink:href="#vimeo"></use>
            </svg>
            <svg>
                <use xlink:href="#visa"></use>
            </svg>
        </div>
    </section>
    <section class="sectionContact" id="contact">
        <h2>Contact</h2>
        <div class="wrapper">
            <img>
            <div class="contactInfo">
                <div>
                    <div>
                        <h4>Inquiries</h4>
                        <p>For any inquiries, questions or commendations, please call: 123-456-7890 or fill out the
                            following form</p>
                    </div>
                    <div>
                        <form action="/action_page.php">
                            <input type="text" name="firstname" value="" placeholder="Name">
                            <input type="email" name="email" value="" placeholder="Email">
                            <input type="text" name="Subject" value="" placeholder="Subject">
                            <textarea type="text" name="Message" value="" placeholder="Message"></textarea>
                            <input type="submit" value="Submit" class="button">
                        </form>
                    </div>
                </div>
                <div>
                    <h4>Head Office</h4>
                    <p>500 Terry Francois Street</p>
                    <p>San Francisco, CA 94158</p>
                    <p></p>
                    <p>info@mysite.com</p>
                    <p>Tel: 123-456-7890</p>
                    <p>Fax: 123-456-7890</p>
                    <h4>Employment</h4>
                    <p>To apply for a job with Sphere Constuctions, please send a cover letter together with your C.V.
                        to: info@mysite.com</p>
                    <h4>Get a quote: 123-456-7890</h4>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p class="endNote">© 2023 by Sphere Construction. Proudly created with Wix.com</p>
    </footer>
</div>