<div class="content">
    <section class="videoSection">
        <h1>LEADERS IN QUALITY CONSTRUCTION AND INFRASTRUCTURE</h1>
        <video autoplay muted loop id="myVideo">
            <source src="../public/assets/img/timelapse.mp4" type="video/mp4">
        </video>

    </section>
    <section>
        <h2>Services</h2>
        <div class="services">
            <div class="card">
                <img src="../public/assets/img/planning.png" alt="">
                <div>
                    <h4>Preconstruction<br>Planning</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/img/modelling.png" alt="">
                <div>
                    <h4>Architectural<br>Modelling</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
            <div class="card">
                <img src="../public/assets/img/management.png" alt="">
                <div>
                    <h4>Construction<br>Management</h4>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
                        or double click me to add your own content and make changes to the font.</p>
                </div>
            </div>
        </div>
    </section>
</div>