nav {
  display: flex;
  height: $nav-height;
  clip-path: fill-box;
}
.nav-logo {
  background-color: $main-color;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: $secondary-color;
    font-size: 23px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    strong {
      font-weight: 600;
    }
  }
  svg {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.nav-menu {
  background-color: $secondary-color;
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  li {
    padding: 0 10px 0 10px;
    a {
      display: block;
      width: 125px;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 14px;
      text-align: center;
      font-weight: 100;
      &:hover {
        color: $main-color;
        }
    }
  }
  
  }
}