$main-color: rgba(237, 205, 31, 1);
$secondary-color: rgb(30, 45, 59);
$font-blue: #3D5975;
$nav-height: 100px;
$nav-height-new: 100vh;
$nav-text-color: #fff;
$text-color: #3B3A3A;
$text-gray: #C6C6C6;
$lgray: rgba(247, 247, 247, 1);
$blue-text: #3D5975;
$text-contact: #1E2D3B;
$responsiveW: 900px;
$content-width: 900px;
$mobile: max-width 900px;
$mobileS: max-width 400px;