@import 'variables';

html {
	scroll-behavior: smooth;
}

.container {
  width: 100vw;
}

.wrapper {
  width: 60%;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  margin-top: 100px;
  // position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 3;
  max-width: 700px;
  font-weight: 500;
  letter-spacing: 3px;
  transform: translateY(-250px);
}

h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  height: 40px;
  width: 40px;
  border-bottom: 7px solid #fff;
  border-right: 7px solid #fff;
  transform: rotate(45deg) translate(175px, 175px);
}

h2 {
  color: $text-gray;
  position: relative;
  margin-bottom: 80px;
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  z-index: 9;
}

h2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -65px;
  height: 100%;
  width: 130px;
  border-bottom: 10px solid $main-color;
  transform: translateY(15px);
}

p {
  font-weight: 200;
  color: $text-color;
  line-height: 1.4;
  text-align: justify;
}

#services .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
  .card {
    max-width: 300px;
    background-color: $lgray;

    div {
      padding: 30px;
    }
  }

  img {
    width: 300px;
    height: 225px;
  }
}

h4 {
  color: $blue-text;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}

#about {
  justify-content: flex-start;
  width: 50%;
  background: $lgray;
  margin-top: 100px;

  .wrapper {
    width: 100%;
  }

  h2 {
    text-align: left;
    margin-top: 0;
  }

  h2:after {
    margin-left: 0px;
    left: 0;
  }

  p {
    width: 40%;
    line-height: 1.7;
    font-size: 17px;
  }
}

.facts {
  background: $main-color;
  width: 100%;
  height: 230px;

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

  }

  h5 {
    position: relative;
    font-size: 60px;
    text-align: center;
    color: #fff;
    position: block;
    z-index: 3;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 10px 0;
  }

  h5:after {
    content: "";
    position: absolute;
    height: 100%;
    border-right: 2px solid #fff;
    transform: translate(80px,40px);
  }

  div:last-of-type h5:after {
    content: none;
  }

  h4 {
    text-align: center;
  }
}

#projects {
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  img {
    background-position: center;
    background-size: cover;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
  }
}

.sectionClients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $lgray;
  height: 370px;
  margin-top: 100px;

  h2 {
    margin: 0 0 100px 0;
  }

  div {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  svg {
    position: relative;
    height: 70px;
    margin: 0 20px 0 20px;
  }

  svg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 130px;
    border-bottom: 10px solid $main-color;
  }
}

.sectionContact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 60%;
  }

  .contactInfo {
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 30px;

      input, textarea {
        width: 100%;
        background: #F7F7F7;
        border: none;
        font-size: 15px;
        height: 30px;
        padding: 3px 3px 3px 12px;
        margin: 5px 0 5px;
        color: $lgray;
        font-weight: 100;
        line-height: 0;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: rgba(198, 198, 198, 1);
        }
      }

      textarea {
        height: 120px;
        padding: 20px 3px 3px 12px;
        resize: none;
        box-sizing: border-box;
      }

      input:last-of-type {
        background: rgba(59, 58, 58, 1);
        width: 150px;
        height: 40px;
        color: $main-color;
        font-weight: 600;

        &:hover {
          background: $main-color;
          color: rgba(59, 58, 58, 1);
        }
      }
    }

    div {
      width: 100%;
      padding-right: 130px;    
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    h4 {
      position: relative;
      margin: 50px 0 20px 0;
      color: $text-contact;
      font-size: 25px;
      letter-spacing: 1.2px;
    }

    div:last-of-type {
      padding-right: 0;
    }

    div:last-of-type h4 {
      // margin-top: 70px;
    }

    div:last-of-type h4:last-of-type:after {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      height: 100%;
      width: 70px;
      border-bottom: 10px solid $main-color;
    }

    p {
      margin: 0 0 3px 0;
      line-height: 1.3;
      color: $text-contact;
      letter-spacing: 1.2px;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.endNote {
  text-align: center;
  margin-top: 100px;
}