<nav>
  <div class="nav-logo">
    <a href="#moto">
      <svg>
        <use xlink:href="#construct"></use>
      </svg>
      <div class="companyTitle">
        <span><strong>Sphere</strong><br>Constructions</span>
      </div>
    </a>
    <svg class="menu-button" data-toggle="navbar">
      <use xlink:href="#menuButton"></use>
    </svg>
  </div>
  <div class="nav-menu" data-navbar>
    <ul>
      <li><a href="#moto">Home</a></li>
      <li><a href="main.html#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>