<nav>
  <div class="nav-logo">
    <a href="#">
      <svg>
        <use xlink:href="#logo"></use>
      </svg>
      <span>shminton</span>
    </a>
  </div>
  <div class="nav-menu">
    <div class="nav-menu__left">
      <svg>
        <use xlink:href="#menu"></use>
      </svg>
      <input type="text" name="" value="" placeholder="Search...">
    </div>
    <ul class="nav-menu__list">
      <li><a href="#"><svg>
            <use xlink:href="#dots"></use>
          </svg> </a></li>
      <li><a href="#"><svg>
            <use xlink:href="#notification"></use>
          </svg> </a></li>
      <li><a href="#">
          <div class="circle">
            <img class="img-circle" src="assets/img/facepic.jpg">
          </div>
        </a></li>
    </ul>
  </div>
</nav>