<nav data-sidenav>
  <div class="nav-logo" >
    <a href="#">
      <svg data-toggle="sidenav">
        <use xlink:href="#construct"></use>
      </svg>
      <div class="companyTitle" data-sidenav>
        <span><strong>Sphere</strong><br>Constructions</span>
        </div>
      </a>
  </div>
  <div class="nav-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>