<div class="sidenav">
  <h5 class="sidenav__title">Main</h5>
  <ul class="sidenav__list">
    <li class="active"><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Dashboard</a></li>
    <li><a href=""><svg>
        <use xlink:href="#padlock"></use>
      </svg>Forms</a></li>
    <li><a href=""><svg>
        <use xlink:href="#mouse"></use>
      </svg>Projects</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Partners</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>News</a></li>
  </ul>
  <h5 class="sidenav__title">More</h5>
  <ul class="sidenav__list">
    <li class="active"><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Layouts</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Samples</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Dominykas</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Studies</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Changes</a></li>
  </ul>
  <h5 class="sidenav__title">Extra</h5>
  <ul class="sidenav__list">
    <li class="active"><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Menu</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Maps</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Location</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Contacts</a></li>
    <li><a href=""><svg>
        <use xlink:href="#logo"></use>
      </svg>Dashboard</a></li>
  </ul>
</div>