<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sphere Constructions</title>
  <link rel="stylesheet" href="assets/style/app.css">
</head>

<body>
  <!-- <script src="main.js"></script> -->
  {{> navbar }}
  {{body}}
  <div>{{> 'sprite.symbol' }}</div>
</body>

</html>