<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sphere Constructions</title>
  <link rel="stylesheet" href="assets/style/app.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <script src="main.js"></script> -->
  {{> navbar }}
  {{body}}
  <div>{{> 'sprite.symbol' }}</div>
</body>

</html>